doctype html
html(ng-app="syntaxDash")
  head
    base(href="/sublime-syntax-dashboard/")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(http-equiv='content-type' content='text/html; charset=UTF-8')
    title(ng-bind='title')
    meta(
      name='description'
      content="Sublime Syntax Dashboard provides insight into the constructs of Sublime Text's default syntaxes"
    )
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
    link(rel='icon' type='image/x-icon' href='favicon.ico')
    link(href='main.min.css' rel='stylesheet' type='text/css' media='all')
    link(
      href='https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500,400italic,500italic,300italic,300,100italic,100'
      rel='stylesheet'
    )
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    if (release === false)
      script(src="//localhost:35729/livereload.js" async)
      script(src=`${angularCDN}1.5.5/angular.js`)
      script(src=`${angularCDN}1.5.5/angular-route.js`)
    else
      script(src=`${angularCDN}1.5.5/angular.min.js`)
      script(src=`${angularCDN}1.5.5/angular-route.min.js`)
    script(src="main.min.js")
  body
    nav.main-menu
      ul
        li
          a(
            href="#/aggregate"
            ng-class="{active: currentView === 'aggregate'}"
          ) Aggregate
        li
          a(
            href="#/syntaxes/ActionScript"
            ng-class="{active: currentView === 'syntaxes'}"
          ) Syntaxes
    div(ng-view)
  .svg-tooltip
