doctype html
html(ng-app="syntaxDash", ng-controller="syntaxDashCtrl")
  head
    base(href="/sublime-syntax-dashboard/")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(http-equiv='content-type' content='text/html; charset=UTF-8')
    title {{syntax}} &middot; Sublime Syntax Dashboard
    meta(
      name='description'
      content="Insights into Sublime Text's default syntaxes"
    )
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
    link(rel='icon' type='image/x-icon' href='favicon.ico')
    link(href='main.min.css' rel='stylesheet' type='text/css' media='all')
    link(
      href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
      rel='stylesheet'
      type='text/css'
    )
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    if (release === false)
      script(src="//localhost:35729/livereload.js" async)
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js")
    else
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js")
    script(src="main.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js")
  body
    .catch-all(ng-class="{active: navIsActive}" ng-click="toggleNav()")
    .header-wrapper
      .dropdown-container
        button.dropdown-initer.header-current-page(ng-click="toggleNav()") {{syntax}}
        .dropdown-wrapper(ng-class="{active: navIsActive}")
          ul.dropdown-menu(role="navigation")
            li(ng-repeat="syntax in syntaxes")
              a(ng-href="#/{{syntax | encodeURIComponent}}") {{syntax}}
      .fab-wrapper
        button.floating-action-button.tip.tip-w(
          aria-label="Clear syntax cache & reload"
          ng-click="clearCache()"
        )
          i.material-icons cached
    .main-content
      .section.at-a-glance
        .stat-blocks
          .stat-block(agg-stat ng-repeat="(label, data) in aggregate")
      .tabs-wrapper
        nav.tabs
          a(
            ng-class="{current:$index===activeTabIndex}"
            ng-repeat="tab in tabs track by $index"
            ng-click="setTab($index)"
          ) {{tab.label}}
        .section(ng-include="'ng-includes/'+tabTemplate")
    .svg-tooltip
